[[ extends 'base.html' ]]

[[ block head ]]
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone-min.js"></script>
[[ endblock ]]

[[ block body ]]
<div class="row">
    <div class="span4">
        <div id="create_program">
        </div>
    </div>
</div>
<div class="row">
    <div class="span3">
        <div id="program_list">
        </div>
    </div>
    <div class="span3">
        <div id="program_stats">
        </div>
    </div>
</div>
[[ endblock ]]

[[ block footer ]]
<script type="text/template" id="program_list_template">
    <h3>Current Programs</h3>
    <% _.each(programs, function(program) { %> 
        <button class="program_btn" name="<%= program.name %>"><%= program.name %></button><br>
    <% }); %>
    <br>
</script>

<script type="text/template" id="program_stats_template">
    <h3>Stats for <%= program %></h3>
    <table>
        <% _.each(stats, function(stat) { %>
            <tr>
                <td><%= stat.name %></td>
                <td id="stat_value" model_id="<%= stat.id %>" contenteditable="true"><%= stat.value %></td>
                <td><button id="del_stat" stat_id="<%= stat.id %>" stat_value="<%= stat.value %>">X</button></td>
            </tr>
        <% }); %>
    </table>
    <input id="new_stat_name" name="stat_name" type="text" />
    <button id="new_stat">Create New Stat</button>
</script>

<script type="text/template" id="create_program_template">
    <h3>Create a new program</h3>
    <input id="new_program_name" type="text" name="program_name" placeholder="Program Name" /><br>
    <input id="stat1name" type="text" placeholder="Stat Name" />
    <input id="stat1value" type="text" placeholder="Stat Value" />
    <button id="new_program">Create New Program</button>
</script>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/models.js"></script>
<script type="text/javascript" src="/static/js/views.js"></script>
<script type="text/javascript" src="/static/js/stats.js"></script>

[[ endblock ]]
