[[ extends 'base.html' ]]

[[ block head ]]
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone-min.js"></script>
[[ endblock ]]

[[ block body ]]
<div class="row">
    <div class="span3">
        <div id="program_list">
        </div>
    </div>
    <div class="span3">
        <div id="program_stats">
        </div>
    </div>
</div>
[[ endblock ]]

[[ block footer ]]
<script type="text/template" id="program_list_template">
    <h3>Projects</h3>
    <% _.each(collection, function(model) { %> 
        <button class="program_btn" id="<%= model.name %>"><%= model.name %></button><br>
    <% }); %>
    <br>
    <button>Create Project</button>
</script>

<script type="text/template" id="program_stats_template">
    <h3>Stats for <%= model.program %></h3>
    <table>
        <% _.each(model, function(m) { %>
            <tr>
                <td><%= m.type %></td>
                <td><%= m.value %></td>
            </tr>
        <% }); %>
    </table>
</script>

<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/models.js"></script>
<script type="text/javascript" src="/static/js/views.js"></script>
<script type="text/javascript" src="/static/js/stats.js"></script>

[[ endblock ]]
