<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Stat Tracker</h1>
                </div>
            </div>
            <div class="row">
                <section>
                    <div class="span4">
                        <header>
                            <h3>Programs</h3>
                        </header>
                        <section>
                            [[ for p in programs ]]
                            <button class="btn btn-green">[- p.name|title -]</button><br><br>
                            [[ endfor ]]
                            <button class="btn btn-primary">Create New Project</button>
                        </section>
                    </div>
                    <div class="span4">
                        <header>
                            <h3>User Stats</h3>
                        </header>
                        <section>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
